#title{
    background-color: 	#E8E8E8;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}
#img-div{
    text-align: center;
    display: block;
    margin: auto;
    
    
    
    
}
#tribute-info{
    text-align: center;
    display: block;
    margin: auto;
    background-color: #E8E8E8;
   
}
.list{
    text-align: left;
    height: auto;
    width: 40vw;
    margin: auto;
}
img{
    height: auto;
    display: block;
    max-width: 100%;
    margin: auto;
}